body {
    height: 100vh;
    margin: 0;
}

.window {
    width: 500px;
    background: green;
    height: 236px;
}

.title-bar {
    background: black;
    padding: 10px;
    color: white;
}

.icons {
    float: right;
}

.hidden {
    display: none;
}

.menu {
    position: absolute;
    width: 200px;
    padding: 10px;
    background: rgb(173, 165, 165);
}

a {
    color: grey;
}

li a:hover {
    color: blue;
}