body {
    height: 100vh;
    margin: 0;
}

.desktop {
    position: relative;
    overflow: hidden;
}

.window {
    width: 500px;
    background: green;
    height: 236px;
    overflow: hidden;
}

.title-bar {
    background: #383434;
    padding: 10px;
    color: white;
}

.icons {
    float: right;
}

.hidden {
    display: none;
}

.menu {
    position: absolute;
    width: 200px;
    padding: 0px;
    z-index: 999999;
}

a {
    color: #3e3030;
    text-decoration: none;
}

li {
    cursor: pointer;
    list-style-type: none;
    background: #efe4e4;
    padding: 7px 16px;
    border-bottom: 1px solid #dac4c4;
}

li a:hover {
    color: blue;
}

#changeBgSize:hover .submenu {
    display: block;
}

.submenu li {
    border-bottom: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.title-bar {
    width: 100%;
}

.window {
    border: 1px solid #262121;
    position: absolute;
}

.window * {
    box-sizing: border-box;
}

.content {
    min-height: 100%;
    background: white;
}

.clear-fix {
    display: table;
}

.show-top {
    z-index: 99;
}

.maximize {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
}

.minimize {
    width: 400px !important;
    height: 38px !important;
    bottom: 0 !important;
    top: auto !important;
}

.fa-window-restore {
    cursor: pointer;
    position: absolute;
    right: 28px;
}

.fa-window-minimize {
    cursor: pointer;
    position: absolute;
    right: 53px;
    top: 7px;
}

.fa-window-maximize {
    cursor: pointer;
    position: absolute;
    right: 29px;
}

.fa-times {
    cursor: pointer;
}

#randomWindow {
    cursor: pointer;
}